* {
    margin: 0px;
    text-decoration: none;
}
.container1 {
    width: 1248px;
    height: 2654px;
    background-color:#F6F4F0;
    display: flex;
    align-content: center;
    align-items: baseline;
    justify-content: center;
}


.section1 {
    width: 1200px;
    height: 96px;
    top: 24px;
    left: 24px;
    border-radius: 20px;
    /* color */
    background-color:#2A2C2E ;
    /* flex-box */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.logo1 {
    margin:30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-bar {
    display: flex;
    gap: 30px;
    /* font */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0015em;
    text-align: center;
    color: #FFFFFF;
}


.buttons {
    margin:30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login {
    width: 101px;
    height: 56px;
    border-radius: 16px;
    background-color: #F4CE47;
    font-family: 'Inter', sans-serif;
}

.section2 {
    display: flex;
}